.env
node_modules
data/*.txt
data/*.csv
data/*.webp
data/*.doc*
output
progress
other
vector-stores
src/lib/experimental
*/**/__*
*/**/*__pycache__*
*/**/*UniEval*
*/**/*GPTScore*
*/**/*.venv
.venv
.deepeval